#footer {
  &.dark {
    background-color: @theme-color;
    .social-icon.si-borderless {
      color: rgba(255, 255, 255, .8) !important;
    }
  }
  #copyrights {
    color: rgba(255, 255, 255, .8);
  }
  div.map {
    background: url('/img/world-map.png') no-repeat left center;
    padding: 20px 0;
  }
  a {
    color: rgba(255, 255, 255, .8);
  }
  .col_one_fourth.col_last{
    padding: 17px 0;
  }
}