@media (max-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.2857142857%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.2857142857%;
  }
}

.seven-cols {
  .wrapper {

    &:hover {
      .circle {
        background-color: #333;
      }
      .label {
        color: #333;
      }
    }

    .circle {
      background-color: @theme-color;
      border-radius: 50%;
      display: inline-block;
      height: 99px;
      text-transform: uppercase;
      transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
      width: 99px;

      i {
        display: inline-block;
        height: 42px;
        margin: 26px auto 0;
        width: 42px;
      }

      .clasico {
        background: url('/img/houses_styles/clasico.png') no-repeat;
      }
      .nova-premium {
        background: url('/img/houses_styles/novapremium.png') no-repeat;
      }
      .rustico {
        background: url('/img/houses_styles/rustico.png') no-repeat;
      }
      .alpina {
        background: url('/img/houses_styles/alpina.png') no-repeat;
      }
      .tradicional {
        background: url('/img/houses_styles/tradicional.png') no-repeat;
      }
      .minimalista {
        background: url('/img/houses_styles/minimalista.png') no-repeat;
      }
      .comercial {
        background: url('/img/houses_styles/comercial.png') no-repeat;
      }
    }

    .label {
      color: @theme-color;
      display: block;
      font-size: 1.5rem;
      margin: 15px 0 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

}

.house-style-img-label {
  background-color: rgba(51, 51, 51, .5);
  color: #fff;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  z-index: 2;
}