@import "bootstrap/bootstrap";
@import "template/template";

#header.full-header #logo {
  margin-right: 0;
}
#header.full-header #primary-menu > ul {
  margin-right: 0;
}
#header.full-header #primary-menu ul ul a {
  height: auto !important;
}
#header.sticky-header:not(.static-sticky):not(.sticky-style-2) #logo img {
  height: 40px;
  margin: 10px 0;
}
#footer {
  background: url('/images/footer-bg.jpg') repeat; background-size: 100% 100%;
}