@import "bootstrap/bootstrap";
@import "template/template";

#header.full-header #logo {
  margin-right: 0;
}
#header.full-header #primary-menu > ul {
  margin-right: 0;
}
#header.full-header #primary-menu ul ul a {
  height: auto !important;
}
#footer {
  background: url('/images/footer-bg.jpg') repeat; background-size: 100% 100%;
}